<p id="notice"><%= notice %></p>

<p>
  <strong>Card:</strong>
  <%= @card_highlight.card %>
</p>

<%= link_to 'Edit', edit_card_highlight_path(@card_highlight) %> |
<%= link_to 'Back', card_highlights_path %>
