%form.form.ui#mc-embedded-subscribe-form.validate{:action => "//alexandersacademy.us16.list-manage.com/subscribe/post?u=654810d114c4e5d19ca912c31&id=6517ac07a6", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
  #mc_embed_signup_scroll
    %h2{:for => "mce-EMAIL"} Subscribe To Our Weekly Product Release
    .fields
      .three.wide.field
      .twelve.wide.field
        %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
        / real people should not fill this in and expect good things - do not remove this or risk form bot signups
        %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
          %input{:name => "b_654810d114c4e5d19ca912c31_6517ac07a6", :tabindex => "-1", :type => "text", :value => ""}/
        .clear
          %br
          %input#mc-embedded-subscribe.ui.button.huge.red.fluid{:name => "Subscribe", :type => "submit", :value => "Subscribe"}/
      .three.wide.field