<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card_manufacturer.name %>
</p>

<%= link_to 'Edit', edit_card_manufacturer_path(@card_manufacturer) %> |
<%= link_to 'Back', card_manufacturers_path %>
